doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/baner-main/baner-main
  include ../components/advantages/advantages
  include ../components/master/master
  include ../components/peoples/peoples
  include ../components/registration/registration
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    block header
      +header()
    block content
      h1 Hello
    block footer
      +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')