// File for scss-vars.
// For example: main colors, paddings and so on.
$white: #fff;
$beige: #f2f2f2;
$green: #60ba62;
$blue: #0099cc;
$black: #333333;
$orange: #e65533;

// font-size
$base-font-size: 16px;