mixin footer(data, page)
  - var modiffers = attributes.class || '';
  footer.footer(class="#{modiffers}")
    .footer__wrapper
      if (page == 'main')
        .footer__logo

        .footer-social
          img(src="%=static=%images/content/footer-social.png" alt="")
      else if (page != 'reg3-1')
        .footer-text Нажатием кнопки «Отправить» вы осуществляете заказ доступа к подписке «http://fileportalcc.org», подтверждаете ознакомление и согласие с «Правилами предоставления услуги». Услуга оказывается ООО «Т Медиа». Информация для абонентов: тел. 8-800-333-57-14 (круглосуточно) Списание будет производиться с Вашего лицевого счета. GPRS-трафик оплачивается в соответствии с Вашим тарифным планом.
      else if (page == 'reg4-2')
        .footer-text Нажатием на кнопку "OK" Вы в явном виде подтверждаете свое согласие с подключением подписки SUBNAME и Условиями предоставления подписки. Стоимость подписки SUBPRICE. ACCOUNT. Услуга предоставляется Контент-провайдером PROVIDER.