mixin master(data)
  .master
    .master__wrapper
      .master__content
        .master__small-title Основатель курса сертифицированный диетолог: 
        .master__big-title Пустовая Ксения

        ul.master__list
          li Основатель консультационного центра Диетологи России
          li Сертифицированный консультант по вопросам питания и диетологии
          li Участник международных конференций по функциональному питанию июнь 2012, сентябрь 2013 г.
          li Практикующий бизнес тренер (2010-2016 гг.)
          li Эксперт в сфере имиджа и стиля (международный диплом IES (International education society), London (2001-2006 гг.)

        .master__sertificates
          img(src="%=static=%images/content/sertificate.png" alt="")