.header {
  &__wrapper {
    @extend .wrapper;
  }
  &__logo {
    display: block;

    @include bg($logo);
  }
  &__logo-single {
    position: relative;

    box-sizing: border-box;
    max-width: 580px;
    margin: auto;
    padding-left: 72px;

    color: #4e4e4e;

    font-family: $RobotoCondensed-Regular;
    font-size: rem-calc(31);
    font-weight: bold;
    span {
      display: block;

      color: #999;

      font-size: rem-calc(15);
      font-weight: normal;
    }
    &:before {
      position: absolute;
      left: 0;

      content: "";

      @include bg($logo-single);
      @include vertical-center;
    }
  }
  &._main {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 41px;
  }
  &._inside {
    padding: 20px 0;

    border-bottom: 1px dashed #cfcfcf;
  }
  &._profile {
    .header__wrapper {
      display: flex;

      align-items: center;
      justify-content: space-between;
    }
  }
}

.header-menu {
  &__item {
    margin-right: 20px;
    margin-left: 20px;

    text-decoration: none;

    color: $black;

    font-family: $RobotoCondensed-Regular;
    font-size: rem-calc(16);

    @include transition;
    &:hover {
      color: $green;
    }
  }
}

.header-user {
  display: flex;

  max-width: 220px;

  font-family: $RobotoCondensed-Regular;

  align-items: center;
  justify-content: flex-start;
  &__img {
    margin-right: 15px;
  }
  &__info {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__name {
    width: 100%;

    color: $green;

    font-size: rem-calc(16);
  }
  &__mail {
    color: #999;

    font-size: rem-calc(12);
  }
  &__exit {
    text-decoration: none;

    color: $blue;

    font-size: rem-calc(12);
    &:hover {
      text-decoration: underline;
    }
  }
}
