mixin baner-main(data)
  .baner-main
    .baner-main__wrapper
      .baner-main__content
        .baner-main__title Начни худеть уже сегодня
        .baner-main__text Онлайн курс по диетологии доступен каждому, пройдя который вы сможете быстро похудеть без вреда для здоровья
        a(href="#" title="").button._big._green Начать худеть